set autoindent
set tabstospaces
set tabsize 2
include "/home/natha/.nano/twig.nanorc"
include "/home/natha/.nano/privoxy.nanorc"
include "/home/natha/.nano/html.j2.nanorc"
include "/home/natha/.nano/javascript.nanorc"
include "/home/natha/.nano/groff.nanorc"
include "/home/natha/.nano/puppet.nanorc"
include "/home/natha/.nano/powershell.nanorc"
include "/home/natha/.nano/pkg-config.nanorc"
include "/home/natha/.nano/haml.nanorc"
include "/home/natha/.nano/verilog.nanorc"
include "/home/natha/.nano/awk.nanorc"
include "/home/natha/.nano/tcl.nanorc"
include "/home/natha/.nano/scala.nanorc"
include "/home/natha/.nano/json.nanorc"
include "/home/natha/.nano/pkgbuild.nanorc"
include "/home/natha/.nano/gemini.nanorc"
include "/home/natha/.nano/haskell.nanorc"
include "/home/natha/.nano/asciidoc.nanorc"
include "/home/natha/.nano/svn.nanorc"
include "/home/natha/.nano/php.nanorc"
include "/home/natha/.nano/lisp.nanorc"
include "/home/natha/.nano/js.nanorc"
include "/home/natha/.nano/vi.nanorc"
include "/home/natha/.nano/git.nanorc"
include "/home/natha/.nano/csh.nanorc"
include "/home/natha/.nano/coffeescript.nanorc"
include "/home/natha/.nano/etc-hosts.nanorc"
include "/home/natha/.nano/zig.nanorc"
include "/home/natha/.nano/xresources.nanorc"
include "/home/natha/.nano/tex.nanorc"
include "/home/natha/.nano/colortest.nanorc"
include "/home/natha/.nano/zshrc.nanorc"
include "/home/natha/.nano/erb.nanorc"
include "/home/natha/.nano/rpmspec.nanorc"
include "/home/natha/.nano/creole.nanorc"
include "/home/natha/.nano/sls.nanorc"
include "/home/natha/.nano/email.nanorc"
include "/home/natha/.nano/glsl.nanorc"
include "/home/natha/.nano/xml.nanorc"
include "/home/natha/.nano/ical.nanorc"
include "/home/natha/.nano/arduino.nanorc"
include "/home/natha/.nano/lua.nanorc"
include "/home/natha/.nano/fortran.nanorc"
include "/home/natha/.nano/css.nanorc"
include "/home/natha/.nano/c.nanorc"
include "/home/natha/.nano/perl.nanorc"
include "/home/natha/.nano/java.nanorc"
include "/home/natha/.nano/nmap.nanorc"
include "/home/natha/.nano/perl6.nanorc"
include "/home/natha/.nano/go.nanorc"
include "/home/natha/.nano/systemd.nanorc"
include "/home/natha/.nano/x11basic.nanorc"
include "/home/natha/.nano/csv.nanorc"
include "/home/natha/.nano/markdown.nanorc"
include "/home/natha/.nano/asm.nanorc"
include "/home/natha/.nano/ledger.nanorc"
include "/home/natha/.nano/sh.nanorc"
include "/home/natha/.nano/ts.nanorc"
include "/home/natha/.nano/yum.nanorc"
include "/home/natha/.nano/keymap.nanorc"
include "/home/natha/.nano/apacheconf.nanorc"
include "/home/natha/.nano/sieve.nanorc"
include "/home/natha/.nano/toml.nanorc"
include "/home/natha/.nano/clojure.nanorc"
include "/home/natha/.nano/fsharp.nanorc"
include "/home/natha/.nano/reST.nanorc"
include "/home/natha/.nano/Rnw.nanorc"
include "/home/natha/.nano/m3u.nanorc"
include "/home/natha/.nano/gentoo.nanorc"
include "/home/natha/.nano/makefile.nanorc"
include "/home/natha/.nano/csharp.nanorc"
include "/home/natha/.nano/pug.nanorc"
include "/home/natha/.nano/patch.nanorc"
include "/home/natha/.nano/sed.nanorc"
include "/home/natha/.nano/ocaml.nanorc"
include "/home/natha/.nano/kotlin.nanorc"
include "/home/natha/.nano/dotenv.nanorc"
include "/home/natha/.nano/gitcommit.nanorc"
include "/home/natha/.nano/batch.nanorc"
include "/home/natha/.nano/gophermap.nanorc"
include "/home/natha/.nano/octave.nanorc"
include "/home/natha/.nano/vala.nanorc"
include "/home/natha/.nano/gradle.nanorc"
include "/home/natha/.nano/jade.nanorc"
include "/home/natha/.nano/sql.nanorc"
include "/home/natha/.nano/rust.nanorc"
include "/home/natha/.nano/i3.nanorc"
include "/home/natha/.nano/prolog.nanorc"
include "/home/natha/.nano/Dockerfile.nanorc"
include "/home/natha/.nano/html.nanorc"
include "/home/natha/.nano/po.nanorc"
include "/home/natha/.nano/peg.nanorc"
include "/home/natha/.nano/elixir.nanorc"
include "/home/natha/.nano/pov.nanorc"
include "/home/natha/.nano/inputrc.nanorc"
include "/home/natha/.nano/yaml.nanorc"
include "/home/natha/.nano/ruby.nanorc"
include "/home/natha/.nano/kickstart.nanorc"
include "/home/natha/.nano/nginx.nanorc"
include "/home/natha/.nano/mutt.nanorc"
include "/home/natha/.nano/python.nanorc"
include "/home/natha/.nano/cmake.nanorc"
include "/home/natha/.nano/conky.nanorc"
include "/home/natha/.nano/rego.nanorc"
include "/home/natha/.nano/properties.nanorc"
include "/home/natha/.nano/nanorc.nanorc"
include "/home/natha/.nano/sparql.nanorc"
include "/home/natha/.nano/man.nanorc"
include "/home/natha/.nano/fish.nanorc"
include "/home/natha/.nano/conf.nanorc"
include "/home/natha/.nano/hcl.nanorc"
include "/home/natha/.nano/ini.nanorc"
include "/home/natha/.nano/moonscript.nanorc"
include "/home/natha/.nano/genie.nanorc"
include "/home/natha/.nano/zsh.nanorc"
include "/home/natha/.nano/mpdconf.nanorc"
include "/home/natha/.nano/swift.nanorc"
include "/home/natha/.nano/cython.nanorc"
include "/home/natha/.nano/dot.nanorc"
